arxiv==1.4.1
certifi==2019.11.28
chardet==3.0.4
crossrefapi==1.4.0
idna==2.9
lxml==4.6.5
numpy==1.18.1
pandas==1.0.1
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
urllib3==1.26.9
requests==2.27.1
pyzenodo3==1.0.2
bibtexparser==1.2.0