arxiv==0.5.3
certifi==2019.11.28
chardet==3.0.4
crossrefapi==1.4.0
feedparser==5.2.1
idna==2.9
lxml==4.5.0
numpy==1.18.1
pandas==1.0.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
